.contact {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      to bottom,
      rgba(04, 15, 22, 0.99),
      rgba(04, 15, 22, 0.89)
    ),
    url('../images/background-img.jpg') center top;
  background-size: cover;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 0;
  border-bottom: #fbfbff solid 1px;
  padding-bottom: 0.5rem;
}

.contact-list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;
  grid-gap: 1.5rem;
  font-size: 1.3rem;
}

.contact-email svg,
.contact-phone svg {
  margin-right: 1rem;
}

.contact-email a {
  color: #fbfbff;
  text-decoration: none;
}

.contact-email a:hover {
  color: #01baef;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.contact-socials {
  display: flex;
  justify-content: space-evenly;
  font-size: 1.7rem;
}

@media screen and (min-width: 768px) {
  .contact h2 {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .contact-list {
    font-size: 1.6rem;
  }

  .contact-email svg,
  .contact-phone svg {
    margin-right: 1.5rem;
  }
}
