.projects {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
      to bottom,
      rgba(04, 15, 22, 0.95),
      rgba(04, 15, 22, 0.8)
    ),
    url('../images/background-img.jpg') center top;
  background-size: cover;
}

.projects-title {
  width: 35vw;
  padding-top: 2rem;
  text-align: center;
}

.projects-title h2 {
  border-bottom: #fbfbff solid 2px;
  padding: 0.5rem;
}

.projects-items {
  display: grid;
  grid-template-columns: 1fr;
  width: 80vw;
  grid-row-gap: 1rem;
}

.projects-item {
  position: relative;
  background: rgba(04, 15, 22, 0.95);
  border: rgba(251, 251, 255, 0.2) solid 1px;
  border-radius: 5px;
  cursor: pointer;
}

.projects-item::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  background: #01baef;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.projects-item:hover::after {
  top: 0;
  opacity: 0.9;
}

.projects-item img {
  width: 100%;
  height: 100%;
}

.projects-item_description {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: grid;
  align-items: center;
  text-align: center;
}

.projects-item_description a {
  color: #fbfbff;
}
